@font-face
  font-family: "iconfont"
  src: url('../fonts/iconfont.eot?t=1548730519844')
  src: url('../fonts/iconfont.eot?t=1548730519844#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff?t=1548730519844') format('woff'),
        url('../fonts/iconfont.ttf?t=1548730519844') format('truetype'),
        url('../fonts/iconfont.svg?t=1548730519844#iconfont') format('svg')
@font-face
  font-family: 'ddfont'
  src: url('../fonts/DINPro-Bold.otf')
.resetFont
  font-family: 'ddfont' !important

.iconfont
  font-family: "iconfont" !important
  font-size: 16px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-bianji:before
  content: "\e60e"

.icon-baocun:before
  content: "\e60f"

.icon-kekan:before
  content: "\e610"

.icon-shoucang1:before
  content: "\e611"

.icon-guanbi1:before
  content: "\e612"

.icon-suo1:before
  content: "\e613"

.icon-renwu1:before
  content: "\e614"

.icon-wancheng:before
  content: "\e615"

.icon-yonghu1:before
  content: "\e616"

.icon-zhuxiao1:before
  content: "\e617"

.icon-xiaoshoucang1:before
  content: "\e618"

.icon-caidan:before
  content: "\e619"

.icon-yijiao1:before
  content: "\e61a"

.icon-weishoucang:before
  content: "\e61b"

.icon-fangdajing:before
  content: "\e60d"

.icon-gengduo:before
  content: "\e61c"

.icon-weibiaoti-:before
  content: "\e61d"

.icon-nande:before
  content: "\e61e"

.icon-nvde-:before
  content: "\e61f"
