// 背景图片
bg-image($url, $size=auto, $repeat=no-repeat)
  background-image: url($url + '.png')
  background-repeat: $repeat
  background-size: $size

// 不换行
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
//
ipt-set($size, $color)
  font-size: $size
  color: $color
//
b-radius($size)
  border-radius: $size
