// 字号
$font-size-small-sm = 10px
$font-size-small-s = 11px
$font-size-small = 12px
$font-size-small-x = 13px
$font-size-medium-s = 14px
$font-size-medium = 15px
$font-size-medium-x = 16px
$font-size-large-s = 17px
$font-size-large = 18px
$font-size-large-x = 22px
// 背景色
$color-background = #fff
$color-background-m = #f9f9fa
$color-background-df = #DDDDDD
$color-background-line = #EEEEEE
$color-background-active = #2DA8FA
$color-background-l-start = #9DD6FC
$color-background-pop = rgba(0, 0, 0, 0.4)
$color-background-warn = #FF9900
// 字颜色
$color-text-sub = #999999
$color-text = #666666
$color-text-m = #333333
$color-text-nti = #FF0000
$color-text-btn = #FFFFFF
$color-text-active = #2DA8FA
