// 主题色
$mainColor = #30bfb5
// 禁用色
$disabled = #ddd
// 警告
$warning = #FDAB3B
// 危险
$danger = #FF5953
// 主文本
$mainTxt = #333
// 副文本
$subTxt = #666
// light
$light = #409eff
// 禁用字体
$disabledTxt = #999
